@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    background-image: url(../../../imagens/landscape.jpg);
    background-size:cover;
}

div#sol{
    float: right;
}

div#sol > img {
    width: 125px;
    height: 125px;
}