.porta {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: lightgoldenrodyellow;
    box-shadow: 1px 1px 15px 7px lightgoldenrodyellow;
    height: 80px;
    width: 50px;
    background-image: url(../../imagens/porta1.png);
    background-size: cover;
}

.porta:hover {
    background-image: url(../../imagens/porta2.png);
    background-size: cover;
    width: 70px;
    height: 90px;
}

#porta-0 {
    top: 8%;
    left: 50%;
}

#porta-1 {
    top: 50%;
    left: 97%;
}

#porta-2 {
    top: 50%;
    left: 3%;
}

#porta-3 {
    top: 93%;
    left: 50%;
}