@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

main {
    height: 100vh;
    width: 100vw;
    background-image: url(../../../imagens/textura-grama.png);
    background-size: cover;
}

div#fonte {
    position: absolute;
    width: 270px;
    height: 270px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../../imagens/fonte.png);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.banco {
    position: absolute;
    width: 130px;
    height: 130px;
    transform: translate(-50%, -50%);
}

.img_banco-cima {
    width: 100px;
    height: 120px;
}

.img_banco {
    width: 120px;
    height: 100px;
}

.arvore {
    position: absolute;
    width: 270px;
    height: 270px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../../imagens/arvore.png);
    transform: translate(-50%, -50%);
}