@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #000000, #351d49, #232274);
}

section {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    color: white;
    border-radius: 10px;
    background-color: #333333;
    width: 850px;
    min-height: 550px;
}

h1 {
    text-align: center;
}

p {
    margin-top: 20px;
    text-indent: 20px;
}

p#tutorial {
    text-align: center;
}

#games {
    margin-top: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.div_img {
    position: absolute;
    display: inline;
    background-image: none;
    padding: 10px;
    border-radius: 30px;
    width: 170px;
    height: 250px;
    background-size: 260px;
    background-position: center;
    background-repeat: no-repeat;
    transition-duration: 0.5s;
}

#hk {
    background-image: url(../imagens/hollow-knight.jpg);
    left: 350px;
    top: 250px;
}

#roblox { /*tentar deixar centralizado e alterado pro lado (com todos) */
    left: 590px;
    top: 250px;
    background-image: url(../imagens/roblox.png);
}

#vava {
    left: 830px;
    top: 250px;
    background-image: url(../imagens/valorant.jpg);
}

.img_menor {
    transform: translate(-10px, -10px);
    border-radius: 30px;
    width: 180px;
    height: 250px;
}

#voltar {
    border-radius: 10px;
    color: white;
    border: none;
    padding: 15px;
    background-color: #494949;
}