@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #ebecb4, #e2e470, #ebecb7);
}

section {
    padding: 20px;
    color: white;
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
    width: 850px;
    height: 500px;
}

h1 {
    text-align: center;
}

p {
    margin-top: 20px;
    text-indent: 20px;
}

#voltar {
    border-radius: 10px;
    color: white;
    border: none;
    padding: 15px;
    background-color: #494949;
}